@import "./assets/styles/mixins/commons";

/* -------------------------------------------------------------------------- */

// Global
* {
    &:active,
     :focus {
        outline: none !important;
    }
}


/* -------------------------------------------------------------------------- */

// For using feather icons
.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    vertical-align: middle;
}

.icon {
    width: 24px;
    height: 24px;
    // stroke: currentColor;
    stroke-width: 2;
    fill: currentColor;
    vertical-align: middle;
}


/* -------------------------------------------------------------------------- */

// Form 
.form-control {
    height: auto;
    &::placeholder {
        color: #ccc;
    }
}

.form-group {
    label {
        font-weight: bold;
        font-size: 0.9rem;
        color: #6c757d;
    }
}

.form-label,
.form-check-label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #6c757d;
}


/* -------------------------------------------------------------------------- */

.dropdown-menu {
    border: 1px solid #ddd;
    // border-radius: 0;
    background: #fff;
    .dropdown-item {
        &:active {
            background: #EFF3F5;
            color: #333;
        }
        &.link {
            &:active {
                color: #333;
                background: #EFF3F5;
            }
        }
    }
}


/* -------------------------------------------------------------------------- */

// Badge
.badge {
    &.align-fix {
        padding-bottom: 0.3rem;
    }
    @each $color,
    $value in $theme-colors {
        &.badge-#{$color} {
            color: $value;
            background-color: lighten($color: $value, $amount: 35%);
        }
    }
}