@import "./src/assets/styles/imports";

/** Custom styles **/

:host {
    position: relative;
    height: 100%;
}

.playlist {
    bottom: 0;
    left: 0;
    right: 0;
    height: 8rem;
    background: red;
    &__cnt {}
}